* {
  text-align: center;
}
.grid-item {
  background-color: skyblue;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 20rem;
}
.grid-item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.grid-item:nth-child(2) {
  grid-column: 3 / 5;
}
